<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gr8.deepl</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>EBF05763-F613-4369-9F40-C402212DDBEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B81C175B-9E94-4B1F-95D8-7BCEF9E9F3EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBE71826-5746-4B1D-85F4-692F7B921929</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B81C175B-9E94-4B1F-95D8-7BCEF9E9F3EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>gr8</string>
	<key>description</key>
	<string>Send the selected or entered text to Deepl for translation</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Translate with Deepl</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>translate</string>
				<key>subtext</key>
				<string>Send text to Deepl for translation</string>
				<key>text</key>
				<string>Translate</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FBE71826-5746-4B1D-85F4-692F7B921929</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.deepl.com/translator#en/ru/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B81C175B-9E94-4B1F-95D8-7BCEF9E9F3EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EBF05763-F613-4369-9F40-C402212DDBEB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Public Domain</string>
	<key>uidata</key>
	<dict>
		<key>B81C175B-9E94-4B1F-95D8-7BCEF9E9F3EB</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>EBF05763-F613-4369-9F40-C402212DDBEB</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>FBE71826-5746-4B1D-85F4-692F7B921929</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://about.me/g.r</string>
</dict>
</plist>
